<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Exito</title>
    <link rel="stylesheet" href="{{url_for('static', filename= 'customer.css')}}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>

</head>
<body>
<div class="position-absolute top-50 start-50 translate-middle d-grid gap-2">
    <form action="/cliente">
        <img src="https://lh3.googleusercontent.com/p/AF1QipP0j9mpiSrsDf_SlLBdynT1p2Si9Hek-sfwNIZW=w1080-h608-p-no-v0" class="card-img-top" alt="...">
        <div class="d-grid gap-2">
            <button type="submit"  class="btn btn-outline-primary">Volver</button>
        </div>
    </form>
</div>
</body>
</html>